@import url("https://fonts.googleapis.com/css2?family=Wire+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');

* {
  font-family: monospace;
  box-sizing: border-box;
}

body {
  background-color: black;
}

#container {
  height: 9500px;
  width: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/d501d2104111071.5f5b8b6fcef22.jpg);
  background-attachment: fixed;
}

#main-section {
  display: flex;
  justify-content: center;
}

#nav-one {
  display: flex;
  background: transparent;
  height: 90px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: brown;
  border-bottom: 4px solid white;
}

#nav-one-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-attachment: fixed;
}

#cart {
  font-size: 20px;
  padding-right: 80px;
  color: beige;
}

#cart:hover {
  animation: shake 0.9s;
}

#cart:active {
  transform: translate(0px, 5px, 5px);
}

#user {
  font-size: 20px;
  padding-right: 20px;
  color: beige;
}

.linksolo {

  font-family: "Wire One";
  font-size: 30px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  padding-right: 40px;
}

#nav-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background: transparent;
  align-items: center;
  background-color: black;
}

#logo {
  box-shadow: 1px 5px 20px 1px;
  margin-left: 30px;
}

#links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  width: 100%;
}

.link {
  font-family: "Wire One";
  font-size: 50px;
  color: white;
  text-decoration: none;
}

.link:hover {
  transform: scale(1.05);
  background-color: transparent;
  color: brown;
}

#intro {
  height: fit-content;
  margin-top: 100px;
}

#intro h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e1b893;
  font-family: 'Water Brush';
  font-size: 85px;
  font-weight: bolder;
  text-shadow: 2px 2px black;
  margin-top: 100px;
}

.meatpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  opacity: 0.9;
  border: 2px solid white;
  box-shadow: 0px 2px 5px 1px black;
  margin-top: 20px;
  padding-bottom: 20px;
}


.meattype {
  align-content: center;
  justify-content: flex-start;
  padding-left: 50px;
}

.meattype h2 {
  justify-content: center;
}


.meat-image {
  width: 250px;
  border: 5px black double;
  border-radius: 2%;
  box-shadow: 0px 2px 5px 1px maroon;
  margin: 20px;
}

.meat-image:hover {
  transform: scale(1.2);
}

.meatsright {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding: 51px;
  margin: 10px;
  width: 80%;
  flex-wrap: wrap;
  background-color: maroon;
  width: 250px;

}

.meatsright p {
  padding: 10px;
  color: white;

}

.meatsright b {
  color: white;
}

.meat-qty {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Bungee Shade';
  font-size: 65px;
  color: black;
  text-shadow: 2px 1px #e1b893;
  padding-left: 15px;


}

h2 {
  display: flex;
  justify-content: left;
  font-family: 'Wire One';
  color: maroon;
  font-size: 70px;
  margin-top: 120px;
  margin-bottom: 20px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

select {
  height: 30px;
  color: black;
  background-color: white;
  opacity: 1;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.login {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 100px;
  background-color: whitesmoke;
  opacity: 0.7;

}

#aboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 65%;
  height: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 0px 10px 25px 10px;
}

#aboutus p {
  align-items: center;
  justify-content: center;
  font-size: 15px;
}


@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.meatsright button {
  display: flex;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 50px;
  width: fit-content;
  justify-content: center;
}

button:hover {
  background-color: maroon;
  box-shadow: 0px 10px 15px red;
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}