@import url("https://fonts.googleapis.com/css2?family=Wire+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Whisper&display=swap");


* {
    font-family: monospace;
}

body {
    height: 700px;
    margin: 0px 0px 0px 0px;
}

.heroimage {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.heroimage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/d501d2104111071.5f5b8b6fcef22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* filter: brightness(60%); */
}




button {
    width: 150px;
}



#nav-one {

    display: flex;
    background: transparent;
    height: 90px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: brown;
    border-bottom: 4px solid white;
}

#search {
    width: 300px;
    height: 25px;
    margin-left: 10px;
}

#nav-one-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#cart {
    font-size: 20px;
    padding: 40px;
    color: beige;
}

#cart:hover {
  animation: shake 0.9s;
}

#cart:active {
  transform: translate(0px, 5px, 5px);
}

.linksolo {

    font-family: "Wire One";
    font-size: 30px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    padding-right: 40px;
}

#nav-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background: transparent;
    /* justify-content: space-between; */
    align-items: center;
    position: sticky;
    background-color: black;


}

#logo {
    box-shadow: 1px 5px 20px 1px;
    margin-left: 30px;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -80px; */
}

.link {
    font-family: "Wire One";
    font-size: 50px;
    color: white;
    text-decoration: none;
    padding: 75px;

}

.link:hover {
    transform: scale(1.05);
    background-color: transparent;
    color: brown;
}

h1 {
    display: flex;
    justify-content: left;
    font-family: 'Whisper';
    font-size: 45px;
    color: black;
    padding-left: 15px;
}

p {
  display: flex;
  justify-content: center;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
